$("#each-note-<%= @note.id %>").fadeOut(400);
setTimeout(function(){
	$("#each-note-<%= @note.id %>").remove();
},1000);

$("#tags").html("<%= escape_javascript(render(:partial=>'tags',:locals=>{:tags=>@tags})) %>");
$("#users").html("<%= escape_javascript(render(:partial=>'users',:locals=>{:users=>@users})) %>");


//insert error messages accordingly
<% if !flash[:notice].blank? %>
    $("#flash").html("<div class='notice'><%= escape_javascript(flash[:notice]) %></div>");
    <%= flash[:notice] = nil %>
<% elsif !flash[:alert].blank? %>
    $("#flash").html("<div class='error'><%= escape_javascript(flash[:alert]) %></div>");
    <%= flash[:alert]=nil %>
<% elsif !flash[:warning].blank? %>
    $("#flash").html("<div class='warning'><%= escape_javascript(flash[:warning]) %></div>");
    <%= flash[:warning] = nil %>
<% end %>