<div class="notes index">
	<section>
		<h3>Tags</h3>
		<ul class="all-tags">
			<% @notes.each do |note| %>
				<% note.tags.each do |tag| %>
					<li><%= tag.tagname %></li>
				<% end %>
			<% end %>
		</ul>
	</section>
	<div class="new-note">
		<%= render :partial=>'shared/note_form' %>
	</div>
	<div class="all-notes">
		<% @notes.each do |note| %>
			<div class="content">
				<p><%= note.content %></p>
			</div>
			<div class="operations">
				<ul>
					<li><%= link_to "Show",note_path(note) %></li>
					<li><%= link_to "Edit",edit_note_path(note) %></li>
					<li><%= link_to "Delete",note_path(note),:method=>"delete",data:"Are you sure ?" %></li>
						
				</ul>
			</div>
		<% end %>
	</div>
</div>