<!-- ALL NOTES ARE SHOWN HERE --> 
<section class="middle-container">
	<div class="create-note">
		<%= form_for :note,:url=>user_notes_path(session[:id],@note),:html=>{remote: true,id: 'create-note-form'} do |f| %>
			<%= f.text_area :content,placeholder: "Note down anything here..",cols: 30,rows: 5,id: "new-note" %>
			<%= f.button "Add note" %>
		<% end %>
	</div>
	<div id="all-notes">
		<%= render(:partial=>'notes') %>
	</div>
</section>
<!-- right container for tags & users & search -->
<section class="right-container">
    <div class="search">
        <%= form_tag user_notes_path(session[:id]),:method=>"get",id: "search_form" do %>
            <%= text_field_tag :search,params[:search],placeholder: "Search Tags/Users..." %>
            <i class="fa fa-lg fa-search"></i>
        <% end %>
    </div>
    <div class="search-results">
        <div class="tab-links">
            <a href="#tags" class="active">Tags</a>
            <a href="#users">Collab. Users</a>
        </div>
        <div class="tab-content">
            <div class="tags visible" id="tags">
                <%= render(:partial=>'tags',:locals=>{:tags=>@tags}) %>
            </div>
            <div class="users" id="users">
				<%= render(:partial=>'users',:locals=>{:users=>@users}) %>
            </div>
        </div>
    </div>
</section>
