<!-- ALL NOTES ARE SHOWN HERE --> 
<section class="middle-container">
	<div class="create-note">
		<%= form_for :note,:url=>user_notes_path(session[:id],@note) do |f| %>
			<%= f.text_area :content,placeholder: "Note down anything here..",cols: 30,rows: 5,id: "new-note" %>
			<%= f.button "Add note" %>
		<% end %>
	</div>
	<% @notes.each do |note| %>
		<section class="each-note">
		    <div class="content">
		        <%= note.content %>
		        - <span class="content-user">
					<% note.users.each do |user| %>
						@<%= user.username %>,
					<% end %>
				</span>	
		    </div>
		    <div class="content-options">  
		        <%= link_to user_note_path(session[:id],note) do %>
					<i class="fa fa-lg fa-expand"></i>
		        <% end %>
				<%= link_to edit_user_note_path(session[:id],note) do %>
					<i class="fa fa-lg fa-pencil"></i>
				<% end %>
				<%= link_to user_note_path(session[:id],note),:method=>"delete",data: "Are you sure ?" do %>
					<i class="fa fa-lg fa-trash-o"></i>
				<% end %>
		        <span class="post-date"><i>Posted <%= time_ago_in_words(note.created_at) %> ago.</i></span>
		    </div>
		</section>
	<% end %>

</section>
<!-- right container for tags & users & search -->
<section class="right-container">
    <div class="search">
        <input type="search" placeholder="Search Tags/Users.. ">
        <i class="fa fa-lg fa-search"></i>
    </div>
    <div class="search-results">
        <div class="tab-links">
            <a href="#tags" class="active">Tags</a>
            <a href="#users">Collab. Users</a>
        </div>
        <div class="tab-content">
            <div class="tags visible" id="tags">
	            <% @tags.each do |tag| %>
					<%= link_to "#"+tag[0],user_notes_path(session[:id],:filter_tagname=>tag[0]) %>
				<% end %>
            </div>
            <div class="users" id="users">
				<% @users.each do |user| %>
					<%= link_to "@"+user[0],user_notes_path(session[:id],:filter_user=>user[0]) %>
				<% end %>
            </div>
        </div>
    </div>
</section>
