<div class="notes index">
	<section>
		<h3>Tags</h3>
		<ul class="all-tags">
			<% @tags.each do |tag| %>
			<%= tag.inspect %>
				<li><%= link_to tag[0],user_notes_path(session[:id],:search_by=>tag[0]) %></li>
			<% end %>
		</ul>
	</section>
	<div class="new-note">
		<%= form_for :note,:url=>user_notes_path(session[:id],@note) do |f| %>
			<%= f.text_field :content,placeholder: "Enter new note here.. " %>
			<%= f.button "Add note" %>
		<% end %>
	</div>
	<div class="all-notes">
		<% @notes.each do |note| %>
			<div class="content">
				<p><%= note.content %></p>
			</div>
			<div class="operations">
				<ul>
					<li><%= link_to "Show",user_note_path(session[:id],note) %></li>
					<li><%= link_to "Edit",edit_user_note_path(session[:id],note) %></li>
					<li><%= link_to "Delete",user_note_path(session[:id],note),:method=>"delete",data:"Are you sure ?" %></li>
						
				</ul>
			</div>
		<% end %>
	</div>
</div>