<div id="landing-page">
	<div class="background">
	  <div class="content register-content">
		  <div class="register-page">
		    <div class="title">Notely</div>
		    <h2>Let's Get Started !</h2>
			  <button class="facebook-login"><i class="fa fa-lg fa-facebook-official"></i>Sign in with Facebook</button>
			  <button class="google-login"><i class="fa fa-google-plus"></i>Sign in with Google</button>
			  <p class="or">- or -</p>
			<%= form_for @user do |f|%>
		     	<div class="input-group">
			     	<label for="username">Username</label>
		      	<%= f.text_field :username, id: 'username'%> 
		      </div>	
          <div class="input-group">
		      	<label for="email">Email</label>
		      	<%= f.email_field :email, id:'email'%>
			    </div>
			     <div class="input-group">
		      	 <label for="password">Password</label>
						 <%= password_field_tag(:password,nil,id:"password")%>
			     </div>
			     <%= f.button "Create my account",class:"register",data: {disable_with: "<i class='fa fa-spinner fa-pulse'></i> Just a moment..."} %>
		    <% end %>
		    <div class="have-account-container">
		      <p class="have-an-account">Have an account? </p><%= link_to "Log In →", login_path,class: 'go-over-link' %>
		     </div>
		   </div>
	  </div>
	</div>
</div>