<!DOCTYPE html>
<html>
<head>
  <title>Notely</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body> 

    <header>
    <% if session[:id].present? %>
        <div class="right-links">
            <%= link_to "@"+session[:username],root_path %>
            <%= link_to "Logout",logout_path %>
        </div>
     <% end %>
    </header>
    <aside class="left-container">
        <p id="notely">Notely</p>
        <nav>
            <ul>
                <div class="each-list-set">
                    <li><a href="#" class="bold-link">General</a></li>
                    <li><%= link_to "My Notes",user_notes_path(session[:id]) %></li>
                    <li><a href="#">Create Note</a></li>
                    <li><a href="#">Archives</a></li>
                </div>
                <div class="each-list-set">
                    <li><a href="#" class="bold-link">Settings</a>
                        <!--                 <i class="fa fa-lg fa-cog"></i>-->
                    </li>
                    <li><a href="#">Note </a></li>
                    <li><a href="#">Profile </a></li>
                </div>
                <div class="each-list-set">
                    <li><a href="#" class="bold-link">Contact</a> </li>
                    <li><a href="http://github.com/PezCoder">Github</a> <i class="fa fa-lg fa-github"></i></li>
                    <li><a href="#">LinkedIn</a> <i class="fa fa-lg fa-linkedin"></i></li>
                    <li><a href="http://facebook.com/rahul11061995">Facebook</a> <i class="fa fa-lg fa-facebook-official"></i></li>
                    <li><a href="#">Email</a> <i class="fa fa-lg fa-email"></i></li>
                </div>
            </ul>
        </nav>
    </aside>
    <main>
		<%= yield %>
    </main>
</body>
</html>
