<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>Notely</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        
  <%= csrf_meta_tags %>
</head>
<body> 
<% if session[:id].present? %>
    <header>
        <a id="nav-toggle"><span></span></a>
        <a id="brand">Notely</a>
        <div class="right-links">
            <div class="notification">
                <a class="header-link" id="bell"><i class="fa fa-lg fa-bell-o"></i></a>
                <div id="notify-panel">
                    <div class="up-white-arrow"></div>
                    <div class="up-arrow"></div>
                    <div class="notify-header">
                        Notifications
                    </div>
                    <div class="notify-content">
                    <% if @notifications.where(:is_seen=>false).count ==0 %>
                    <div class="big-bell"><i class="fa fa-bell fa-5x"></i></div>
                        <p>We will let you know as sooon as something comes up !</p>
                    <% end %>
                    <% @notifications.each do |notification| %>
                    <% unless notification.is_seen %>
                        <% if notification.rejected %>
                        <div class="each-request">
                            <div class="request-from"><span class="user">@<%= notification.from_user %> </span>
                              rejected your request.
                            </div>
                        </div>
                        <% else %>
                        <div class="each-request expandable ">
                            <i class="fa fa-lg fa-caret-right"></i>
                            <div class="request-from"><span class="user">@<%= notification.from_user %> </span>
                                <% if notification.is_removed %>
                                    removed you from collaboration. 
                                <% else %>
                                    want to collaborate with you.
                                <% end %>
                            </div>
                            <div class="request-note">
                                <%= truncate(notification.note.content,:length=>72) %>
                                <% unless notification.is_removed %>
                                    <%= link_to accept_user_path(session[:id],:notification_id=>notification.id),class:"accept" do %>
                                        <i class="fa fa-check"></i>
                                    <% end %>                                
                                    <%= link_to reject_user_path(session[:id],:notification_id=>notification.id),class:"reject" do %>
                                        <i class="fa fa-times"></i>
                                    <% end %>
                                <% end %>
                            </div>
                        </div>
                        <% end %>
                    <% end %>
                    <% end %>
                    </div>
                </div>
            </div>
            <%= link_to "@"+session[:username],root_path,class: "header-link" %>
            <%= link_to "Logout",logout_path,class: "header-link" %>
        </div>
    </header>
    <aside class="left-container">
        <p id="notely">Notely</p>
        <nav>
            <ul>
                <div class="each-list-set">
                    <li><span class="bold-link">General</span></li>
                    <li><%= link_to user_notes_path(session[:id]) do %>
                            <span class="text">My Notes </span><span class="entypo-book-open glyphs"></span>
                        <% end %>
                    </li>
                    <li><a id="link-create-note"><span class="text">Create Note </span><span class="entypo-pencil glyphs"></span></a></li>
                    <li><a href="#"><span class="text">Archives </span><span class="entypo-archive glyphs"></span></a></li>
                </div>
                <div class="each-list-set">
                    <li><span class="bold-link">Settings</span>
                        <!--                 <i class="fa fa-lg fa-cog"></i>-->
                    </li>
                    <li><a href="#"><span class="text">Note </span><span class="entypo-doc-text glyphs"></span></a></li>
                    <li><%= link_to edit_user_path(session[:id]) do %>
                    <span class="text">Profile </span><span class="entypo-user glyphs"></span>
                    <% end %></li>
                </div>
                <div class="each-list-set">
                    <li><span class="bold-link">Contact</span> </li>
                    <li><a href="http://github.com/PezCoder"><span class="text">Github </span><i class="fa fa-lg fa-github-alt glyphs"></i></a></li>
                    <li><a href="#"><span class="text">LinkedIn </span><i class="fa fa-lg fa-linkedin glyphs"></i></a></li>
                    <li><a href="http://facebook.com/rahul11061995"><span class="text">Facebook </span><i class="fa fa-lg fa-facebook-official glyphs"></i></a></li>
                    <li><a href="#"><span class="text">Email </span><i class="fa fa-lg fa-envelope glyphs"></i></a></li>
                </div>
            </ul>
        </nav>
    </aside>
<% end %>
    <main>
		<%= yield %>
    </main>
    <div class="flash" id="flash">
        <% if !flash[:notice].blank? %>
            <div class="notice">
               <%= flash[:notice] %>
            </div>
        <% end %>

        <% if !flash[:alert].blank? %>
            <div class="error">
                <%= flash[:alert] %>
            </div>
        <% end %>

        <% if !flash[:warning].blank? %>
            <div class="warning">
                <%= flash[:warning] %>
            </div>
        <% end %>
    </div>
</body>
</html>
