<!DOCTYPE html>
<html>
<head>
  <title>Notely</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if flash[:notice].present? %>
	<p class="flash notice">
		<%= flash[:notice] %>
	</p>
<% end %>

<% if flash[:alert].present? %>
	<p class="flash alert">
		<%= flash[:alert] %>
	</p>
<% end %>

<% if flash[:warning].present? %>
	<p class="flash warning">
		<%= flash[:warning] %>
	</p>
<% end %>

<nav>
	<% if session[:id].present? %>
		<ul>
			<li>@<%= session[:username] %></li>
			<li><%= link_to "Logout",logout_path %></li>
		</ul>
		<div class="notifications">
			<ul>
				<% @notifications.each do |notification| %>
					<% if notification.rejected %>
						@<%= notification.from_user %> rejected the request.
					<% else %>
						<li>
						
							 @<%= notification.from_user %> wants to collaborate with you . 
								<%= link_to "Accept",accept_user_path(session[:id],:notification_id=>notification.id) %>
								<%= link_to "reject",reject_user_path(session[:id],:notification_id=>notification.id) %>
							<span><i> <% if notification.is_seen %>
									SEEN
									<% else %>
									NOT SEEN YET 
									<% end %>
							</i></span>
						
						</li>
					<% end %>
				<% end %>
			</ul>
		</div>
	<% end %>
</nav>
<%= yield %>

</body>
</html>
